<section class="operators-result">
	<div class="container">
		<h1 class="oper-heading">Rudra travels</h1>
		<p class="oper-para">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
		</p>
		<div class="row">
		<div class="col-lg-3 col-md-3 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon"><img src="../../assets/img/Group 632.svg" class="opo-img"></div>
              <h4>30</h4>
              <p class="oper-para">Routes</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon"><img src="../../assets/img/Group 633.svg" class="opo-img"></div>
              <h4>60</h4>
              <p class="oper-para">Buses</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon"><img src="../../assets/img/Group 634.svg" class="opo-img"></div>
              <h4>24/7</h4>
              <p class="oper-para">Services</p>
           </div>
        </div>
        <div class="col-lg-3 col-md-3 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon"><img src="../../assets/img/Group 635.svg" class="opo-img"></div>
              <h4>Customer</h4>
              <p class="oper-para">Friendly</p>
           </div>
        </div>
    </div>

	</div>
</section>

<section class="operators-result" style="background-color: #E7EAEB;">
  <div class="container">
    <h1 class="ma-heading">Popular Routes</h1>
    <table class="table">
        <thead>
          <tr>
            <th>Routes</th>
            <th>First Bus</th>
            <th>Last Bus</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Bhubaneswar ⮕ Rourkela</td>
            <td>04:30 PM</td>
            <td>09:30 PM</td>
            <td><a href="#">Book Now</a></td>
          </tr>
          <tr>
            <td>Bhubaneswar ⮕ Rourkela</td>
            <td>04:30 PM</td>
            <td>09:30 PM</td>
            <td><a href="#">Book Now</a></td>
          </tr>
          <tr class="color-bg">
            <td>Bhubaneswar ⮕ Rourkela</td>
            <td>04:30 PM</td>
            <td>09:30 PM</td>
            <td><a href="#">Book Now</a></td>
          </tr>
          <tr>
            <td>Bhubaneswar ⮕ Rourkela</td>
            <td>04:30 PM</td>
            <td>09:30 PM</td>
            <td><a href="#">Book Now</a></td>
          </tr>
        </tbody>
      </table>
      <div class="box-footer clearfix">
         <ul class="pagination pagination-sm no-margin pull-right">
             <li><a href="#" data-abc="true">1</a></li>
             <li><a href="#" data-abc="true">2</a></li>
             <li><a href="#" data-abc="true">3</a></li>
             <li><a href="#" data-abc="true">»</a></li>
             <li><a href="#" data-abc="true">«</a></li>
         </ul>
     </div>
    </div>
  </section>
  <section class="operators-aminitis">
  <div class="container">
    <h1 class="ma-heading">Popular Routes</h1>
    <div class="row">
    <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/blanket (1).svg" class="aminitis-img">
              </div>
              <p class="ami-para">Routes</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/Icon awesome-wifi.svg" class="aminitis-img">
              </div>
              <p class="ami-para">Buses</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/cctv (1).svg" class="aminitis-img">
              </div>
              <p class="ami-para">Services</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/charging.svg" class="aminitis-img">
              </div>
              <p class="ami-para">Friendly</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/film-strip.svg" class="aminitis-img">
              </div>
              <p class="ami-para">Friendly</p>
           </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex align-items-stretch">
           <div class="icon-box">
              <div class="icon1">
                <img src="../../assets/img/Union 4.svg" class="aminitis-img">
              </div>
              <p class="ami-para">Friendly</p>
           </div>
        </div>
    </div>

  </div>
</section>

<section class="operators-result" style="background-color: #E7EAEB;">
  <div class="container">
    <div class="row">
      <div class="col-md-6"><h1 class="ma-heading">Customer Reviews</h1></div>
      <div class="col-md-6">
        <div class="author item">
            <h5 class="re-name1">4.0</h5>
            <span class="rv_img1">
            <img src="../../assets/img/Icon awesome-star.svg" class="star2">
            <img src="../../assets/img/Icon awesome-star.svg" class="star2">
            <img src="../../assets/img/Icon awesome-star.svg" class="star2">
            <img src="../../assets/img/Icon awesome-star.svg" class="star2">
            <img src="../../assets/img/Icon awesome-star.svg" class="star2">
            </span>
        </div>
      </div>
    </div>
    
      <div class="row testi-padding-bottom">
          <div class="col-md-4 testimonials-clean">
              <div class="de-angu3 border">
                <h2 class="heading-ser-tes">Excellent Services</h2>
              <div class="box">
                  <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="author item">
                    <img class="rounded-circle" src="https://i.imgur.com/nUNhspp.jpg">
                      <h5 class="name">Ben Johnson</h5>
                      <h6 class="place">bhubaneswar</h6> 
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="author item">
                      <h5 class="re-name">4.0</h5>
                      <span class="rv_img">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 testimonials-clean">
              <div class="de-angu3 border">
                <h2 class="heading-ser-tes">Excellent Services</h2>
              <div class="box">
                  <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="author item">
                    <img class="rounded-circle" src="https://i.imgur.com/nUNhspp.jpg">
                      <h5 class="name">Ben Johnson</h5>
                      <h6 class="place">bhubaneswar</h6> 
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="author item">
                      <h5 class="re-name">4.0</h5>
                      <span class="rv_img">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
      <div class="col-md-4 testimonials-clean">
              <div class="de-angu3 border">
                <h2 class="heading-ser-tes">Excellent Services</h2>
              <div class="box">
                  <p class="description">Aliquam varius finibus est, et interdum justo suscipit. Vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
              </div>
              <div class="row">
                <div class="col-md-8">
                  <div class="author item">
                    <img class="rounded-circle" src="https://i.imgur.com/nUNhspp.jpg">
                      <h5 class="name">Ben Johnson</h5>
                      <h6 class="place">bhubaneswar</h6> 
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="author item">
                      <h5 class="re-name">4.0</h5>
                      <span class="rv_img">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      <img src="../../assets/img/Icon awesome-star.svg" class="star1">
                      </span>
                  </div>
                </div>
              </div>
          </div>
      </div>
      
      
        </div>
    </div>
  </section>
