<span class="line-span"><h2>Privacy Policy</h2></span>
<section class="textimonials-result1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="main-tnc">
            		<p>
                  We at ODBUS , value the relationship we have with our customers and Operator and web site visitors, and are committed to responsible information and handling practices. We take the privacy of our customers very seriously and want you to feel comfortable whenever you visit our web site.<br> <br>
                  By accessing this Site, certain information about you, such as Internet protocol (IP) addresses, navigation through the Site, the systems and programs used and the time spent, along with other similar information, may be stored on our servers or 3rd party servers like Payment gateway ,Google Analytics. Such stored information may not specifically identify you. Please be informed that the same may be used by us for web site traffic analysis or for such other purposes as we may deem appropriate.<br> <br>
                  If you provide unique identifying information, such as name, address and other information to us, such information may be used for statistical and/or other purposes. Any personally identifiable information you submit while booking with ODBUS, will ONLY be disclosed to travel suppliers/operators who are linked to your bookings. We will not disclose, sell, share or in any way reveal your information to any other third party.<br> <br>
                  ODBUS may use your personal contact information like Email, Mobile number to contact, alert information about your travel or any offers from ODBUS or partners.<br> <br>
                  We want you to feel confident about using odbus.in to plan and purchase your bus tickets, so we are committed to protecting the information we collect. While no Web site can guarantee security, we have implemented appropriate administrative, technical, and physical security procedures to help protect the personal information you provide to us. To prevent unauthorized access, maintain data accuracy, and ensure correct use of information, we will employ reasonable and current Internet security methods and technologies.      
                    </p>
            		
            	</div>
            </div>
        </div>
    </div>
</section>
