<span class="line-span"><h2>Terms & Conditions</h2></span>
<section class="textimonials-result1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<div class="main-tnc">
            		<ul class="main-tnc-ul-ce">
            			<li>ODBUS is an Online Platform which provides online bus ticket booking services and does not operate bus services of its own, we have tied up with many bus operators for various Route in Orissa and its surrounding states</li>

            			<li>The arrival and departure times written on the ticket are only approximate time, but you are requested to reach on the boarding points before 15 min.</li>

            			<li>Passengers are required to take a copy of the ticket and an Identity proof (Driving license, Student ID card, Company ID card, Passport, PAN card or Voter ID card) during their travel</li>

            			<li>We are at ODBUS advice to all customers is to choose bus operators they are aware of and whose service they are comfortable with</li>

            			<li>In case the bus operator changes the type of bus due to some reason, ODBUS will refund the differential amount to the customer upon request by the customers in 24 hours of the journey</li>
            			
            			<li>The tickets booked through ODBUS Can be cancelled and note that Cancel Can be possible before 12 hours of the departure of the said bus. Refunded amount will be reflected in your respective account in 10 working days. For More Details Please refer Cancelation Policy..</li>

            			<li>If a booking confirmation e-mail and SMS get delayed or fails because of technical reasons or due to incorrect e-mail ID / phone number given by the user, The ticket will be considered as 'booked' as long as the ticket shows up on the confirmation page of www.odbus.in</li>

            			<li>During booking, If an amount deducted and ticket not shown or SMS not delivered Please call to 9583918888 and we will be more than happy to assist you .</li>

            			<li>Responsibility Includes :</li>

            		</ul>
            		<ul class="main-tnc-ul-cr">
            			<li>Issuing a valid ticket which will be accepted by the bus operator</li>
            			<li>Providing refund and support in the event of cancellation</li>
            			<li>Providing customer support and information in case of any delays / inconvenience</li>
            		</ul>

            		<ul class="main-tnc-ul-ce">
            			<li>Responsibilities do Not include</li>
            		</ul>
            		<ul class="main-tnc-ul-cr">
            			<li>The bus operator’s bus not departing / reaching on time</li>
						<li>The bus operator’s employees being rude</li>
						<li>The bus operator’s bus seats etc not being up to the customer’s expectation</li>
						<li>The bus operator canceling the trip due to unavoidable reasons</li>
						<li>The baggage of the customer getting lost / stolen / damaged</li>
						<li>The bus operator changing a customer’s seat at the last minute to accommodate a lady / child</li>
						<li>The customer waiting at the wrong boarding point</li>
						<li>The bus operator changing the boarding point and/or using a pick-up vehicle at the boarding point to take Customers to the bus departure point</li>
					</ul>
					<ul class="main-tnc-ul-ce">
						<li>Grievances and claims related to the bus journey should be reported to ODBUS support team within 2 days of your travel date.</li>
						<li>We may perdioaclly send promotionals SMS about new updates on our products,Special offers or other information which we think you may find intresting using your email address which you have provided.</li>
						<li>From Time to Time, we may also use your information to contact you for market research purposes. We may contact you by Email, SMS,Fax or Mail. We may use the information to custromize the website/App according to your interests.</li>
						<li>To conatct via Email,facsimile,Phone or text messages, to deliver certain services or information you have requested</li>
            		</ul>
            	</div>
            </div>
        </div>
    </div>
</section>
